In [1]:
Forword pratice

SyntaxError: invalid syntax (<ipython-input-1-8a739d43ec2a>, line 1)

# Class

In [5]:
class Person():
    def __init__(self,name):
        self.name=name
someone= Person('Tara')
print(someone.name)

Tara

In [23]:
class Car():
    def exclaim(self):
        print("i am a car")
class Yogo(Car):
        pass
give_me_a_car=Car()
give_me_a_yugo=Yogo()
give_me_a_car.exclaim()
give_me_a_yugo.exclaim()

i am a car
i am a car

In [24]:
class Car():
    def exclaim(self):
        print("i am a car")
class Yogo(Car):
    def exclaim(self):
        print("i am duplicated")
give_me_a_car=Car()
give_me_a_yugo=Yogo()
give_me_a_car.exclaim()
give_me_a_yugo.exclaim()

i am a car
i am duplicated

In [30]:
#Parent
class Car():  
    def __init__(self,name):
        self.name=name
class MDperson(Car):
    def __init__(self,name):
        self.name='Doctor'+ name
person=Car('Andy')
doctor=MDperson('Terrence')
print(person.name)
print(doctor.name)

Andy
DoctorTerrence

# Add Method

In [32]:
class Car():
    def exclaim(self):
        print("i am a car")
class Yogo(Car):
    def exclaim(self):
        print("i am duplicated")
    def need_a_push(self):
        print('A little help')
give_me_a_car=Car()
give_me_a_yugo=Yogo()
give_me_a_car.exclaim()
give_me_a_yugo.exclaim()
give_me_a_yugo.need_a_push()

i am a car
i am duplicated
A little help

# Super

In [34]:
#Parent
class Car():  
    def __init__(self,name):
        self.name=name
class Emailperson(Car):
    def __init__(self,name,email):
        super().__init__(name)
        self.email=email
        
bob=Emailperson('bob','bob@gmail')
print(bob.name)
print(bob.email)

bob
bob@gmail

In [35]:
start='na '*4+'\n'
middle='hey '*3+'\n'
end= 'goodbye'
print(start+start+middle+end)

na na na na
na na na na
hey hey hey
goodbye

In [36]:
leter='abcdef'
leter[-2]

'e'

# list

In [41]:
empty_list=[]
Name_list=['andy','terrence']
empty_list_1=list()
print(empty_list,empty_list_1)
print(Name_list)

[] []
['andy', 'terrence']

In [39]:
list('cat')

['c', 'a', 't']

In [42]:
a_tuble=('andy','terrence' )
list(a_tuble)

['andy', 'terrence']

In [53]:
birthday='1/6/2017'
birthday.split('/')[-1]

'2017'

In [47]:
birthday[1]

'/'

In [46]:
birthday[2]

'7'

In [55]:
small_bird=['A','B']
big_bird=['C','D']
All_birds=[small_bird,big_bird]
print(All_birds)

[['A', 'B'], ['C', 'D']]

In [65]:
All_birds[0][1]
All_birds[0][1]=123
print(All_birds)

[['A', 123], ['C', 'D']]

In [58]:
String='andy'
String[0]

'a'

In [62]:
String[0]='b'

TypeError: 'str' object does not support item assignment

In [66]:
big_bird.append('E')
print(big_bird)

['C', 'D', 'E']

In [71]:
extned=['F','G']
print(big_bird.extend(extned))   # equal +=
print(big_bird)

None
['C', 'D', 'E', 'F', 'G', 'F', 'G', 'F', 'G']

In [74]:
marxes=[3,'andy']
print(marxes)
marxes.insert(0,'a')
print(marxes)
marxes.insert(5,'a')
print(marxes)

[3, 'andy']
['a', 3, 'andy']
['a', 3, 'andy', 'a']

In [76]:
del marxes[0]

print(marxes)

[3, 'andy', 'a']

In [77]:
marxes.remove('a')
print(marxes)

[3, 'andy']

In [81]:
print(marxes)
marxes.append('terrence')
print(marxes)
marxes.pop(0)
print(marxes)

['terrence', 'terrence', 'terrence']
['terrence', 'terrence', 'terrence', 'terrence']
['terrence', 'terrence', 'terrence']

In [88]:
Max=['andy','terrence', 'ariel']
print(Max.pop(0))
Max.append('hello')
print(Max)
print(Max.index('hello'))

andy
['terrence', 'ariel', 'hello']
2

In [89]:
'hello' in Max

True

In [90]:
Max.count('hello')

1

In [92]:
a=[1,2,3]
b=a.copy()
c=list(a)
d=a[:]
e=a
a[0]='hello'
print(b)
print(c)
print(d)
print(e)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
['hello', 2, 3]

# Tuble

In [93]:
empty_tuble=()
marx_tubl='Terrence',
print(marx_tubl)

('Terrence',)

In [95]:
marx_tuble=('terrence','andy','emi',)
print(marx_tuble)

('terrence', 'andy', 'emi')

In [97]:
a,b,c=marx_tuble
print(a)
print(b)

terrence
andy

# Dictionary

In [98]:
empty_dict={}

In [99]:
acco={'day':'2018/01','work':"to do list"}
print(acco)

{'work': 'to do list', 'day': '2018/01'}

In [100]:
acco['name']='andy'
print(acco)

{'name': 'andy', 'work': 'to do list', 'day': '2018/01'}

In [101]:
others={'funny':'hahah'}
acco.update(others)
print(acco)

{'funny': 'hahah', 'name': 'andy', 'work': 'to do list', 'day': '2018/01'}

In [ ]:
#dict 'key' is unique

In [102]:
del acco['funny']
print(acco)

{'name': 'andy', 'work': 'to do list', 'day': '2018/01'}

In [103]:
acco.clear()
print(acco)

{}

In [104]:
acco={'day':'2018/01','work':"to do list"}
print('day' in acco)

True

In [108]:
acco['work']

'to do list'

In [112]:
acco.get('work','not in dict')

'to do list'

In [111]:
acco.get('haah','not in dict')

'not in dict'

In [124]:
acco={'day':'2018/01','work':"to do list"}
print(list(acco.keys()))

['work', 'day']

In [122]:

print(list(acco.values())

['to do list', '2018/01']

In [125]:
print(acco.items())
print(list(acco.items()))

dict_items([('work', 'to do list'), ('day', '2018/01')])
[('work', 'to do list'), ('day', '2018/01')]

# Set

In [126]:
empty_set=()

In [129]:
even_set={'q',2,4,}
print(even_set)

{'q', 2, 4}

In [127]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [130]:
set({'name':'andy','birth':2014})

{'birth', 'name'}

In [132]:
drinks={
    'martini':{'A','B'}
    ,'Vodka':{'C','A'}
    ,'manna':{'A','D'}
}

In [134]:
print(drinks.items())

dict_items([('Vodka', {'A', 'C'}), ('martini', {'B', 'A'}), ('manna', {'A', 'D'})])

In [137]:
for name,contents in drinks.items():
    if contents &{'A'}:
        print(name)

Vodka
martini
manna

In [138]:
for name,contents in drinks.items():
    if contents &{'A'} and not contents & {'B'}:
        print(name)

Vodka
manna

In [140]:
a = {1,2}
b={2,3}
print(a & b,a|b,a-b)

{2} {1, 2, 3} {1}

# process structure

In [142]:
while True:
    stuff=input('string [q=quit]')
    if stuff =='q':
        break
    print(stuff.capitalize())

string [q=quit]2
2
string [q=quit]q

In [145]:
Names=['andy', 'Terrrence','terry']
current =0 
while current<len(Names):
    print(Names[current])
    current+=1

andy
Terrrence
terry

In [147]:
for name in Names:
    print(name)

andy
Terrrence
terry

In [148]:
Clue={'room':'ballroom','lead':'andy','number':123}
for name in Clue.values():
    print(name)

andy
ballroom
123

In [149]:
for name in Clue.items():
    print(name)

('lead', 'andy')
('room', 'ballroom')
('number', 123)

In [150]:
for a,b in Clue.items():
    print(a,b)

lead andy
room ballroom
number 123

# comprhesion

In [153]:
number_list=[]
for number in range(1,6):
    number_list.append(number)
print(number_list)

[1, 2, 3, 4, 5]

In [155]:
number_list=[number-2 for number in range(1,6)]
print(number_list)

[-1, 0, 1, 2, 3]

In [156]:
number_list=[number for number in range(1,6) if number%2==1]
print(number_list)

[1, 3, 5]

In [157]:
a_list=[]
for number in range(1,6):
    if number%2==1:
        a_list.append(number)
print(a_list)

[1, 3, 5]

In [158]:
rows=range(1,4)
cols=range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [160]:
rows=range(1,4)
cols=range(1,3)
cells=[(row,col) for row in rows for clo in cols]
print(cells)
for cell in cells:
    print(cell)

[(1, 2), (1, 2), (2, 2), (2, 2), (3, 2), (3, 2)]
(1, 2)
(1, 2)
(2, 2)
(2, 2)
(3, 2)
(3, 2)

In [161]:
word='letters'
letter_counts={letter:word.count(letter) for letter in word}
print(letter_counts)

{'t': 2, 'r': 1, 's': 1, 'e': 2, 'l': 1}

# test

In [165]:
dict={"a":123,'b':123,'c':123}
dict['time']=456
print(dict)

{'b': 123, 'a': 123, 'time': 456, 'c': 123}

In [179]:
parent_names = {
    'energy': '222',
    'security': '333'
}
for name in parent_names:
    data[name]={}

for name in parent_names:
    data[name]['time']=456
    data[name]['ppp']=456
print(data)

{'energy': {'time': 456, 'ppp': 456}, 'security': {'time': 456, 'ppp': 456}}

In [ ]:
for parent in parent_names:
    data[parent]["time"]='456'
    print(data)

# sep end

In [5]:
print('anc','edf','fdfsd')
print('anc','edf','fdfsd',sep='')
print('anc','edf','fdfsd',sep='XDD',end='111')

anc edf fdfsd
ancedffdfsd
ancXDDedfXDDfdfsd111

In [11]:
for i in range(1,5):
    print(i,sep='@',end='\n')
print(i)

1
2
3
4
4